// Project settings

// Colors
$primary-color: #0288D1;
$secondary-color: #f7df1e;

// Media Query Ranges
$row-max: 900px;
$small-screen-up: 641px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 640px;
$medium-screen: 992px;
$large-screen: 1200px;

// Sidenav
$sidenav-font-size: 1rem;
$sidenav-font-color: #444;
$sidenav-bg-color: #fff;
$sidenav-padding: 20px;
$sidenav-item-height: 3rem;
