html, body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #333;
}

p {
  line-height: 1.4;
  font-size: 1.125rem;

  @media #{$medium-and-up} {
    font-size: 1.3125rem;
  }
}

a {
  color: #333;
  transition: all 250ms ease-out;

  &:hover {
    color: $primary-color;
  }
}

.row {
  max-width: $row-max;
}
