.header {
  display: flex;
  flex-direction: column;
  height: calc(100% - 4rem);
  text-align: center;

  h1 {
    display: inline-block;
    margin: auto auto 1rem auto;
    padding: 1rem;
    line-height: 1.3;
    font-size: 1.75rem;
    color: #fff;
    text-shadow: 0 0 10px rgba(255,255,255,0.75);
    background-color: rgba(0,0,0,0.25);
  }

  @media #{$medium-and-up} {
    h1 {
      margin-bottom: 3rem;
      font-size: 2.25rem;
    }
  }

  @media #{$large-and-up} {
    h1 {
      margin-bottom: 5rem;
      font-size: 2.625rem;
    }
  }
}
