<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content="{{description}}">
    <title>{{title}}</title>

    <meta name="theme-color" content="#0288D1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{title}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="#0288D1">
    <meta name="msapplication-TileColor" content="#0288D1">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/website.css">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <div class="app">

      <div class="apptop">
        <div class="apptop__background">
          <div class="apptop__overlay">

            <div class="navbar-fixed">
              <nav class="nav">
                <div class="nav-wrapper">
                  <a href="/#" class="brand-logo">
                    <img src="/img/logo.jpg" alt="Logo de BucaramangaJS">
                  </a>
                  <a href="#" data-activates="mobile-menu" class="button-collapse right">
                    <i class="mdi mdi-menu"></i>
                  </a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                      <a href="#">Eventos</a>
                    </li>
                    <li>
                      <a href="#">Patrocinadores</a>
                    </li>
                    <li>
                      <a href="#">Colaboradores</a>
                    </li>
                    <li>
                      <a href="#">Comunidad</a>
                    </li>
                    <li>
                      <a href="#">Tweets</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>

            <header class="header">
              <h1>{{header.title}}</h1>
            </header>

          </div>
        </div>
      </div>

      <ul id="mobile-menu" class="side-nav">
        <li>
          <a href="#">Eventos</a>
        </li>
        <li>
          <a href="#">Patrocinadores</a>
        </li>
        <li>
          <a href="#">Colaboradores</a>
        </li>
        <li>
          <a href="#">Comunidad</a>
        </li>
        <li>
          <a href="#">Tweets</a>
        </li>
      </ul>

      <div style="height: 1000px"></div>

      <footer class="footer"></footer>

    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/website.js" async></script>
  </body>
</html>
