<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="bucaramangajs, bucaramanga, javascript, node.js, meetup, community, comunidad">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="{{title}}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://bucaramangajs.org">
    <meta property="og:image" content="http://bucaramangajs.org/img/seo.jpg">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:site" content="@bucaramangajs">
    <meta name="twitter:creator" content="@bucaramangajs">
    <meta name="twitter:image" content="http://bucaramangajs.org/img/seo.jpg">

    <meta name="theme-color" content="#0288D1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{title}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="#0288D1">
    <meta name="msapplication-TileColor" content="#0288D1">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/website.css">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <div class="app" itemscope itemtype="http://schema.org/Organization">

      <!-- TOP -->
      <div class="apptop">
        <div class="apptop__background">
          <div class="apptop__overlay">

            <!-- NAV -->
            <div class="navbar-fixed">
              <nav class="nav">
                <div class="nav-wrapper">
                  <a href="/" class="brand-logo">
                    <img src="/img/logo.jpg" alt="Logo de BucaramangaJS" itemprop="logo">
                  </a>
                  <a href="#" data-activates="mobile-menu" class="button-collapse">
                    <i class="mdi mdi-menu"></i>
                  </a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down menu-list">
                    <li>
                      <a href="#eventos">Eventos</a>
                    </li>
                    <li>
                      <a href="#patrocinadores">Patrocinadores</a>
                    </li>
                    <li>
                      <a href="#colaboradores">Colaboradores</a>
                    </li>
                    <li>
                      <a href="#comunidad">Comunidad</a>
                    </li>
                    <li>
                      <a href="#tweets">Tweets</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>

            <!-- HEADER -->
            <header class="header">
              <h1 itemprop="name">{{header.title}}</h1>
            </header>

          </div>
        </div>
      </div>

      <!-- MENU MOBILE -->
      <ul id="mobile-menu" class="side-nav menu-list">
        <li>
          <a href="#eventos">Eventos</a>
        </li>
        <li>
          <a href="#patrocinadores">Patrocinadores</a>
        </li>
        <li>
          <a href="#colaboradores">Colaboradores</a>
        </li>
        <li>
          <a href="#comunidad">Comunidad</a>
        </li>
        <li>
          <a href="#tweets">Tweets</a>
        </li>
      </ul>

      <!-- INTRO -->
      <section class="section section--inverse scrollspy">
        <div class="row">
          <div class="col s12" itemprop="description">
            {% for paragraph in intro %}
            <p>{{paragraph}}</p>
            {% endfor %}
          </div>
        </div>
      </section>

      <!-- EVENTS -->
      <section id="eventos" class="section">
        <div class="row">
          <div class="col s12">
            <h2>Próximo Evento</h2>
            {% if nextEvent.defined %}
              <div class="section__post row">
                <div class="col s12 m4">
                  <a href="{{nextEvent.meetup}}" target="meetup_event">
                    <img src="{{nextEvent.image}}" alt="{{nextEvent.title}}">
                  </a>
                </div>
                <div class="col s12 m8">
                  <h3>
                    <a href="{{nextEvent.meetup}}" target="meetup_event">{{nextEvent.title}}</a>
                  </h3>
                  <p>{{nextEvent.description}}</p>
                  <p>
                    {{nextEvent.date}},
                    {{nextEvent.time}},
                    <a href="{{nextEvent.gmaps}}" target="gmaps">{{nextEvent.place}}</a>
                  </p>
                </div>
              </div>
            {% else %}
              <p class="center-align">
                {{noEventText}}
              </p>
            {% endif %}
          </div>
        </div>
        <div class="section__links row">
          <div class="col s6 m3">
            <a class="section__link" href="https://bucaramangajs-slack.herokuapp.com/" target="slack">
              <img src="/img/external/slack.png" alt="Logo de Slack">
              <p>Únete en Slack</p>
            </a>
          </div>
          <div class="col s6 m3">
            <a class="section__link" href="https://docs.google.com/forms/d/1JutAp_AzD3TpU54O62UIgLHjPq8AhAHFxD53s3v3DiM/viewform" target="google_forms">
              <img src="/img/external/google-forms.png" alt="Logo de Google Forms">
              <p>Contáctanos</p>
            </a>
          </div>
          <div class="col s6 m3">
            <a class="section__link" href="http://meetup.com/BucaramangaJS/" target="meetup">
              <img src="/img/external/meetup.png" alt="Logo de Meetup">
              <p>Ver Eventos Pasados</p>
            </a>
          </div>
          <div class="col s6 m3">
            <a class="section__link" href="https://medium.com/bucaramangajs" target="medium">
              <img src="/img/external/medium.png" alt="Logo de Medium">
              <p>Ver Artículos</p>
            </a>
          </div>
        </div>
      </section>

      <!-- PATROCINADORES -->
      <section id="patrocinadores" class="section section--inverse">
        <div class="row">
          <div class="col s12">
            <h2>Patrocinadores</h2>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="section__sponsors">
                {% for sponsor in sponsors %}
                  <div class="section__sponsor">
                    <a href="{{sponsor.url}}" target="_blank">
                      <img src="{{sponsor.logo}}" alt="{{sponsor.name}}">
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- COLABORADORES -->
      <section id="colaboradores" class="section">
        <div class="row">
          <div class="col s12">
            <h2>Colaboradores</h2>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="section__team">
              {% for member in team %}
                <div class="section__member" itemscope itemtype="http://schema.org/Person">
                  {% if member.url %}
                  <a href="{{member.url}}" target="_blank">
                  {% endif %}

                    <img src="{{member.profile}}" alt="Foto de {{member.name}}" itemprop="image">
                    <span itemprop="name">{{member.name}}</span>

                  {% if member.url %}
                  </a>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>

      <!-- COMUNIDAD -->
      <section id="comunidad" class="section section--inverse">
        <div class="row">
          <div class="col s12">
            <h2>Comunidades</h2>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="section__comunities">
              {% for comunity in comunities %}
                <div class="section__comunity">
                  <a href="{{comunity.url}}" target="_blank">
                    <img src="{{comunity.image}}" alt="Foto de {{comunity.name}}">
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>

      <!-- TWEETS -->
      <section id="tweets" class="section">
        <div class="row">
          <div class="col s12">
            <h2>Últimos Tweets</h2>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <a class="twitter-timeline" data-lang="es" data-height="2000" href="https://twitter.com/bucaramangajs">Tweets by bucaramangajs</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </section>

      <!-- FOOTER -->
      <footer class="footer">
        <div class="row">
          <div class="col s12">
            <ul>
              <li>
                <a href="https://www.facebook.com/bucaramangaJS/" target="facebook">
                  <i class="mdi mdi-facebook-box"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/bucaramangajs" target="twitter">
                  <i class="mdi mdi-twitter-box"></i>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCyvdsvq7AoqTudlmvWKCPHg" target="youtube">
                  <i class="mdi mdi-youtube-play"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/BucaramangaJS/" target="github">
                  <i class="mdi mdi-github-box"></i>
                </a>
              </li>
            </ul>
            <a href="https://github.com/BucaramangaJS/codigo-de-conducta" target="codigodeconducta">Código de Conducta</a>
            <span>-</span>
            <a href="https://github.com/BucaramangaJS/bucaramangajs.org" target="opensource">Proyecto Open Source</a>
          </div>
        </div>
      </footer>

    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/website.js" async></script>
  </body>
</html>
