<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content="{{description}}">
    <title>{{title}}</title>

    <meta name="theme-color" content="#0288D1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{title}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="#0288D1">
    <meta name="msapplication-TileColor" content="#0288D1">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/website.css">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <div class="app">

      <div class="apptop">
        <div class="apptop__background">
          <div class="apptop__overlay">

            <div class="navbar-fixed">
              <nav class="nav">
                <div class="nav-wrapper">
                  <a href="/#" class="brand-logo">
                    <img src="/img/logo.jpg" alt="Logo de BucaramangaJS">
                  </a>
                  <a href="#" data-activates="mobile-menu" class="button-collapse">
                    <i class="mdi mdi-menu"></i>
                  </a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                      <a href="#">Eventos</a>
                    </li>
                    <li>
                      <a href="#">Patrocinadores</a>
                    </li>
                    <li>
                      <a href="#">Colaboradores</a>
                    </li>
                    <li>
                      <a href="#">Comunidad</a>
                    </li>
                    <li>
                      <a href="#">Tweets</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>

            <header class="header">
              <h1>{{header.title}}</h1>
            </header>

          </div>
        </div>
      </div>

      <ul id="mobile-menu" class="side-nav">
        <li>
          <a href="#">Eventos</a>
        </li>
        <li>
          <a href="#">Patrocinadores</a>
        </li>
        <li>
          <a href="#">Colaboradores</a>
        </li>
        <li>
          <a href="#">Comunidad</a>
        </li>
        <li>
          <a href="#">Tweets</a>
        </li>
      </ul>

      <section class="section section--inverse">
        <div class="row">
          <div class="col s12">
            {% for paragraph in intro %}
            <p>{{paragraph}}</p>
            {% endfor %}
          </div>
        </div>
      </section>

      <section class="section">
        <div class="row">
          <div class="col s12">
            <h2>Próximo Evento</h2>
            {% if nextEvent.defined %}
            <p>Próximo evento a seguir.</p>
            {% else %}
            <p class="center-align">
              {{noEventText}}
            </p>
            {% endif %}
          </div>
        </div>
        <div class="section__links row">
          <div class="col s12 m3">
            <a class="section__link" href="https://bucaramangajs-slack.herokuapp.com/" target="slack">
              <img src="/img/external/slack.png" alt="Logo de Slack">
              <p>Únete en Slack</p>
            </a>
          </div>
          <div class="col s12 m3">
            <a class="section__link" href="https://docs.google.com/forms/d/1JutAp_AzD3TpU54O62UIgLHjPq8AhAHFxD53s3v3DiM/viewform" target="google_forms">
              <img src="/img/external/google-forms.png" alt="Logo de Google Forms">
              <p>Contáctanos</p>
            </a>
          </div>
          <div class="col s12 m3">
            <a class="section__link" href="http://meetup.com/BucaramangaJS/" target="meetup">
              <img src="/img/external/meetup.png" alt="Logo de Meetup">
              <p>Ver Eventos Pasados</p>
            </a>
          </div>
          <div class="col s12 m3">
            <a class="section__link" href="https://medium.com/bucaramangajs" target="medium">
              <img src="/img/external/medium.png" alt="Logo de Medium">
              <p>Ver Artículos</p>
            </a>
          </div>
        </div>
      </section>

      <section class="section section--inverse">
        <div class="row">
          <div class="col s12">
            <h2>Patrocinadores</h2>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="row">
          <div class="col s12">
            <h2>Colaboradores</h2>
          </div>
        </div>
      </section>

      <section class="section section--inverse">
        <div class="row">
          <div class="col s12">
            <h2>Comunidades</h2>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="row">
          <div class="col s12">
            <h2>Últimos Tweets</h2>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="row">
          <div class="col s12">
            <ul>
              <li>
                <a href="https://www.facebook.com/bucaramangaJS/" target="facebook">
                  <i class="mdi mdi-facebook-box"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/bucaramangajs" target="twitter">
                  <i class="mdi mdi-twitter-box"></i>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCyvdsvq7AoqTudlmvWKCPHg" target="youtube">
                  <i class="mdi mdi-youtube-play"></i>
                </a>
              </li>
            </ul>
            <a href="https://github.com/BucaramangaJS/bucaramangajs.org" target="opensource">Proyecto Open Source</a>
            <span>-</span>
            <a href="https://github.com/BucaramangaJS/codigo-de-conducta" target="codigodeconducta">Código de Conducta</a>
          </div>
        </div>
      </footer>

    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/website.js" async></script>
  </body>
</html>
